* {
  margin: 0px;
  padding: 0px;
}

body {
  min-width: 780px;
}

main {
  padding: 16px;
  width: 100%;
  margin-top: 48px;
}

.center {
  min-width: 780px;
  max-width: 950px;
  margin: 0 auto;
}
