header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  height: 48px;
  color: #444;
//  background: url(./back.jpg);
//  background-size: cover;
//  background-position: 50% 6%;
  background: linear-gradient(60deg,$dark, $light);
  svg {
    margin: 6px 0;
    stroke: transparent;
    fill: #FFF;
  }

  .center {
    padding: 0;
  }

}
