.login {
  width: 100vw;
  height: 100vh;
  background-color: #eef;
  background: url(./back.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.login-menu {
  height: fit-content;
  width: 480px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: transparent;
  padding: 16px;
  border-radius: 8px;
  svg {
    fill: #fFF;
    display: block;
    margin: 12px auto 18px;
  }
  p {
    margin: 0 32px 4px;
    color: #FFF;
  }
  .textbox {
    width: calc(100% - 64px - 8px);
    margin: 0 32px 24px;
    padding: 4px;
  }
  .btn {
    margin: 24px 32px 0;
    width: calc(100% - 60px);
    padding: 4px 0;
  }
  a {
    width: fit-content;
    margin: 8px auto 0;
    display: block;
    color: #FFF;
    &:hover {
      color: #CCC;
    }
  }
}

.go-btn {
  display: block;
  color: #FFF;
  width: fit-content;
  margin: 0 auto;
  font-size: 24pt;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}
