.vps {
  .left {
    float: left;
  }

  .right {
    float: right;
  }
  .vps-new {
    float: right;
    height: 26px;
    display: inline;
    margin: 24px 0;
    vertical-align: middle;
    padding: 10px 24px 0;
    line-height: 1em;
    color: #FFF;
    border-radius: 25px;
    background: $light;
    &:hover {
      opacity: 0.7
    }
  }

  .vps-table {
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
    line-height: 1em;
    border-collapse: collapse;
    tr {
      border-top: 1px #CCC solid;
    }
    .vps-table-head {
      border: none;
    }
    td {
      padding: 16px;
    }
    th {
      padding: 8px;
      color: $light;
    }
  }
  #created {
    display: none;
    background-color: #ccF;
    padding: 16px;
    border: 1px solid #aac;
    border-radius: 5px;
    color: $light;
    &:target {
      display: block;
    }
  }

}
.new-vps {

  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }

  .os-radio, .core-radio {
    display: none;
  }


  .os-btn {
    cursor: pointer;
    width: 120px;
    margin: 8px;
    text-align: center;
    color: #44c;
    font-size: 22px;

    line-height: 1em;

    svg {
      max-width: 90px;
      max-height: 90px;
    }
    img {
      padding: 12px 0 4px 0;
      max-width: 100px;
      max-height: 100px;
      margin: 0 auto;
    }
    .version {
      display: inline-block;
      font-size: 18px;
      padding-bottom: 8px;
    }
  }

  .ubuntu svg > circle {
    fill: $dark;
  }

  .os-radio:checked + .ubuntu svg > circle {
    fill: $light;
  }

  .debian g {
    fill: $dark;
  }

  .os-radio:checked + .debian g {
    fill: $light;
  }

  .centos g path:nth-child(-n+4){
    fill: $dark;
  }

  .os-radio:checked + .centos g path:nth-child(-n+4) {
    fill: $light;
  }

  .arch path {
    fill: $dark;
  }

  .os-radio:checked + .arch path {
    fill: $light;
  }

  .core-btn {
    cursor: pointer;
    width: 120px;
    margin: 8px;
    background-color: transparent;
    text-align: center;
    font-size: 22px;
    color: $dark;
    svg {
      fill: $dark;
      max-width: 100px;
      max-height: 100px;
    }
    path {
      stroke: transparent !important;
    }
    img {
      padding: 20px 0 8px 0;
      max-width: 100px;
      max-height: 100px;
      margin: 0 auto;
    }
  }
  .core-radio:checked + .core-btn {
    svg {
      fill: $light;
    }
    color: $light;
  }
}
