.vps {
  .left {
    float: left;
  }

  .right {
    float: right;
  }
  .vps-new {
    float: right;
    height: 26px;
    display: inline;
    margin: 24px 0;
    vertical-align: middle;
    padding: 10px 24px 0;
    line-height: 1em;
    color: #FFF;
    border-radius: 25px;
    background: #04067a;
    &:hover {
      opacity: 0.7
    }
  }

  .vps-table {
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
    line-height: 1em;
    border-collapse: collapse;
    tr {
      border-top: 1px #CCC solid;
    }
    .vps-table-head {
      border: none;
    }
    td {
      padding: 16px;
    }
    th {
      padding: 8px;
      color: #04067a;
    }
  }
  #created {
    display: none;
    background-color: #ccF;
    padding: 16px;
    border: 1px solid #aac;
    border-radius: 5px;
    color: #04067a;
    &:target {
      display: block;
    }
  }

}
.new-vps {

  .os-container {
    display: flex;
  }

  .os-radio {
    display: none;
  }

  .os-radio:checked + .os-btn {
    background: #b7fdff;
  }

  .os-btn {
    cursor: pointer;
    width: 150px;
    height: 200px;
    margin: 8px;
    background-color: #fff;
    border: 2px solid #88c;
    border-radius: 5px;
    text-align: center;
    font-size: 22px;
    color: #44c;
    img {
      padding: 20px 0 8px 0;
      max-width: 100px;
      max-height: 100px;
      margin: 0 auto;
    }
  }
}
