<!DOCTYPE html>
<html>
  <head>
    <% include ../template/head %>
    <body>
      <% include ../template/header %>
      <div class="center">
        <main>
        <h1>Add User</h1>
        <form action="/adduser" method="post">
          <div class="form-title">ID</div>
          <input type="text" name="id" required><br>
          <div class="form-title">Password</div>
          <input type="password" name="password" required><br>
          <div class="form-title">Name</div>
          <input type="text" name="name" required><br>
          <div class="form-title">Role</div>
          <input type="radio" name="role" value="0" id="admin" style="display: inline;"><label for="admin" style="display: inline;">Administrator</label><br>
          <input type="radio" name="role" value="1" id="std" style="display: inline;" checked="checked"><label for="std" style="display: inline;">Standard</label><br>
          <br>
          <input type="submit">
        </form>
        </main>
      </div>
    </body>
</html>
