<!DOCTYPE html>
<html>
  <head>
    <% include ../template/head %>
    <body>
      <% include ../template/header %>
      <div class="center">
        <main>
        </main>
      </div>
    </body>
</html>
