<!DOCTYPE html>
<html>
  <head>
    <% include ../template/head %>
    <body>
      <% include ../template/header %>
      <main>
        <div class="center">
        </div>
      </main>
    </body>
</html>
