<!DOCTYPE html>
<html>
  <head>
  <% include ../template/head %>
  <body>
    <% include ../template/header %>
    <div class="center">
      <main class="new-vps">
      <h1>New VPS</h1>
      <form action="/vps/new" method="post">
        <div class="form-title">Server Name</div>
				<input type="text" name="name" required/><br>
				<div class="form-title">OS</div>

				<div class="os-container">
					<input type="radio" id="ubuntu" name="os" value="ubuntu" class="os-radio" checked>
					<label for="ubuntu" class="os-btn"><img src="/ubuntu.png"><br>Ubuntu<br>18.04</label>
					<input type="radio" id="debian" name="os" value="debian" class="os-radio">
					<label for="debian" class="os-btn"><img src="/debian.png"><br>Debian<br>9.4</label>
					<input type="radio" id="centos" name="os" value="centos" class="os-radio">
					<label for="centos" class="os-btn"><img src="/centos.png"><br>CentOS<br>7.5.1804</label>
					<input type="radio" id="arch" name="os" value="arch" class="os-radio">
					<label for="arch" class="os-btn"><img src="/arch.png"><br>Arch Linux<br>2018.06.01</label>
				</div>

				<div class="form-title">Core: <span id="core_span">1</span></div>
				<input type="range" id="core" name="core" min="1" max="8" value="1"/><br>
				<div class="form-title">Memory: <span id="mem_span">1</span>GB</div>
				<input type="range" id="mem" name="memory" min="1" max="8" value="1"/><br>
				<div class="form-title">Private Key Password</div>
				<input type="password" name="password" pattern=".{5,}" title="must be alphanumeric in 5 chars" required/><br>
				<input type="submit"/>
			</form>
			</main>
		</div>
	</body>
	<script>
		const core = document.getElementById('core');
const core_span = document.getElementById('core_span');
const mem = document.getElementById('mem');
const mem_span = document.getElementById('mem_span');
core.addEventListener('input', () => {
	core_span.innerHTML = core.value;
});
mem.addEventListener('input', () => {
	mem_span.innerHTML = mem.value;
});
	</script>
</html>
